.sign
    .sign__wrap
        form(action="")
            .sign-title
                legend.sign-title__text Sign Up
            .sign-group__wrap
                .sign-group
                    input.sign-group__input(type="text" placeholder="Name" name="name")
                .sign-group
                    input.sign-group__input(type="text" placeholder="Email" name="email")
                .sign-group
                    input.sign-group__input(type="text" placeholder="Password" name="password")
                .sign-group
                    input.sign-group__input(type="text" placeholder="Confirm password" name="con-password")
            .sign-addition
                a.sign-addition__link(href="#") Have an account?

    .done
        .done__wrap
            .done__ico.icons8-checkmark