//
@import "components/_variables";
@import "components/_mixins";
@import "components/fonts";

// icons
@import "icons/variables";
@import "icons/core";
@import "icons/path";
@import "icons/icons";

//auth
@import "components/auth/auth";
@import "components/auth/sidebar/sign";

//admin
@import "components/admin/main";
@import "components/admin/sidebar";
@import "components/admin/admin-header";
@import "components/admin/task";

html, body, .wrap {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $regular;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}