.sign
    .sign__wrap
        form(action="")
            .sign-title
                legend.sign-title__text Sign In
            .sign-group__wrap
                .sign-group
                    input.sign-group__input(type="text" placeholder="Email" name="email")
                .sign-group
                    input.sign-group__input(type="text" placeholder="Password" name="password")
                    a.sign-group__forgot(href="#") Forgot?
            .sign-addition
                a.sign-addition__link(href="#") Create an account

    .done
        .done__wrap
            .done__ico.icons8-checkmark