doctype html
html
    include ../components/_head
    body(ng-app="myApp")

        .wrap(ui-view)
            .auth
                section.main
                    block main
                        
                aside.sidebar
                    block sidebar