doctype html
html
    include ../components/_head
    body

        .wrap
            .auth
                section.main
                    block main
                        
                aside.sidebar
                    block sidebar