//colors
$dpurple: #292c33;
$purple : #6b6b99;
$white  : #ffffff;
$lgray  : #bdbdbd;
$grayTit: #b3bbcb;
$gray   : #888888;

$orange : #ff5722;
$green  : #4caf50;
$blue   : #03a9f4;
$pink   : #9c27b0;
$brown  : #9e9e9e;

//fonts
$regular : 'sf_ui_textregular';
$medium  : 'sf_ui_textmedium';
$semibold: 'sf_ui_textsemibold';