//colors
$dpurple  : #292c33;
$purple   : #6b6b99;
$lpurple  : #b1b1c8;
$white    : #ffffff;
$llgray   : #f7f7f7;
$lgray    : #bdbdbd;
$grayTit  : #b3bbcb;
$gray     : #888888;
$grayLine : #eaeaea;

$orange : #ff5722;
$green  : #4caf50;
$blue   : #03a9f4;
$pink   : #9c27b0;
$brown  : #9e9e9e;
$lbrown : #e6a750;
$red    : #dd5b4f;
$yellow : #ffe867;



//fonts
$regular : 'sf_ui_textregular';
$medium  : 'sf_ui_textmedium';
$semibold: 'sf_ui_textsemibold';