@font-face {
    font-family: 'sf_ui_textregular';
    src: url('../fonts/sfui/sfui-text-regular/sf-ui-text-regular-webfont.eot');
    src: url('../fonts/sfui/sfui-text-regular/sf-ui-text-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfui/sfui-text-regular/sf-ui-text-regular-webfont.woff2') format('woff2'),
         url('../fonts/sfui/sfui-text-regular/sf-ui-text-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_textmedium';
    src: url('../fonts/sfui/sfui-text-medium/sf-ui-text-medium-webfont.eot');
    src: url('../fonts/sfui/sfui-text-medium/sf-ui-text-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfui/sfui-text-medium/sf-ui-text-medium-webfont.woff2') format('woff2'),
         url('../fonts/sfui/sfui-text-medium/sf-ui-text-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_textsemibold';
    src: url('sf-ui-text-semibold-webfont.eot');
    src: url('sf-ui-text-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sf-ui-text-semibold-webfont.woff2') format('woff2'),
         url('sf-ui-text-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}